@import 'tailwindcss';

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.img-body {
  background-image: url(/cook.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center;
  background-size: 67% auto;
}

@media (max-width: 640px) {
  .img-body {
    background-image: url(/cook2.png);
    background-position: center top;
    background-size: cover;
  }
}
